@import "../../Global.scss";

.home {
  margin-top: 75px;
  width: 100%;
  height: 100vh;
  background: green;
  border: 1px solid red;
  color: white;
  p {
    width: fit-content;
  }
  .home-img {
    max-width: 90vw;
    max-height: 90vh;
  }
}

@media (min-width: $lg) {
  .home {
    background: gray;
  }
}