@import "../../Global.scss";

.contact-wrapper {
  background-color: $background-dark;
  min-height: 100vh;
  border: 1px red solid;
  .contact-title {
    margin: auto;
    font-size: $font-l;
    color: $font-secondary;
    width: fit-content;
  }
  .contact-form {
    text-align: center;
    .contact-label {
      font-size: $font-m;
      color: $font-secondary;
    }
    .contact-input {
      width: 90vw;
      height: 36px;
      margin: auto;
    }
    input::placeholder {
      color: red;
      font-size: 1.2em;
      font-style: italic;
    }
    .contact-input.message {
      height: 100px;
    }
  }
}