$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$font-xs: 14px;
$font-s: 16px;
$font-m: 21px;
$font-l: 27px;
$font-xl: 40px;

$background-primary: #ffffff;
$background-light: #C1C1C1;
$background-dark: #091540;
$font-primary: black;
$font-secondary: white;
$secondary-color: #488B49;
$secondary-light: #b9a650;
$button-primary: #DB3A34;
$button-light: #ec4e20;