$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$background-primary: #1e2124;
$background-secondary: #1e2124;
$font-primary: #0086cf;
$font-secondary: white;
$background-light: white;
$font-light: black;
